<!DOCTYPE html>
<html>
    <head>
    <!-- 부트스트랩  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <body class="container">
            <h1>add_msg</h1>
            <div>
                <form method="POST" action="/add_msg">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>msg_test :</td>
                            <td><textarea name="msg_text" rows="3" cols="50"></textarea></td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-outline-dark btn-sm" type="submit">msg입력</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </body>
    </head>
</html>